[submodule "server/typescript-to-swagger"]
	path = server/typescript-to-swagger
	url = https://github.com/mgerasika/typescript-to-swagger.git
[submodule "ext/swagger-to-typescript"]
	path = ext/swagger-to-typescript
	url = https://github.com/mgerasika/swagger-to-typescript.git
